header {
    background-color: #f8f8f8; /* Same off-white background as the rest of the page */
    padding: 10px 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
 nav ul li a {
  color: #0000ff; /* Blue text */
  text-decoration: none;
  padding: 10px;
  font-size: 30px; /* Increase font size */
  position: relative;
}
  
  nav ul li a:hover::after,
  nav ul li a:focus::after {
    width: 100%; /* Blue underline when hovering */
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #0000ff; /* Blue underline */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%; /* Blue underline expands on hover */
  }
  